* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

        
        body {
            background-color: #f5f5f5;
        }
        
        .sidebar {
            width: 220px;
            background-color: white;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            height: 100vh;
        }
        
        .profile-icon {
            width: 40px;
            height: 40px;
            background-color: #f9a825;
            border-radius: 4px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 30px;
        }

.profile-text {
    margin-bottom: 25px;
    margin-left: 10px;
}
        
        .username {
            font-size: 14px;
            font-weight: bold;
        }
        
        .user-title {
            font-size: 12px;
            color: #757575;
        }
        
        .menu-item {
            display: flex;
            align-items: center;
            padding: 12px 0;
            cursor: pointer;
            color: #333;
            text-decoration: none;
            padding-left: 20px;
        }

            .menu-item:hover {
                color: #f9a825;
                background-color: rgba(249, 168, 37, 0.1);
                border-radius: 10px;
            }
        
        .menu-item i {
            margin-right: 10px;
            width: 24px;
            text-align: center;
        }

.nav-text {
    margin-left: 20px;
}