<div class="sidebar">
    <div class="profile">
        <div class="profile-icon">P</div>
        <div class="profile-text">
            <div class="username">Perfil</div>
            <div class="user-title">Nombre del usuario</div>
        </div>
    </div>

    <a href="" class="menu-item">
        <img src="/images/principal.png" alt="Icono Principal" />
        <span class="nav-text">Principal</span>
    </a>

    <a href="#" class="menu-item">
        <img src="/images/buscar.png" alt="Icono Buscar" />
        <span class="nav-text">Buscar</span>
    </a>

    <a href="#" class="menu-item">
        <img src="/images/resenas.png" alt="Icono Reseñas" />
        <span class="nav-text">Reseñas</span>
    </a>

    <a href="groups" class="menu-item">
        <img src="/images/grupos.png" alt="Icono Grupos" />
        <span class="nav-text">Grupos</span>
    </a>

    <a href="users" class="menu-item">
        <img src="/images/perfil.png" alt="Icono Perfil" />
        <span class="nav-text">Perfil</span>
    </a>

    <a href="#" class="menu-item">
        <img src="/images/salirse.png" alt="Icono Salirse" />
        <span class="nav-text">Salirse</span>
    </a>
</div>