@page "/Groups"

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body, html {
            height: 100%;
            width: 100%;
        }

        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/homeBackground.png');
            background-size: 90%;
            background-position: 100% center;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .main-content {
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }

        .welcome-text {
            color: #DC4920;
            font-family: 'Beautiful Freak Bold', sans-serif; /* Añadí 'sans-serif' como respaldo */
            font-size: 80px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 300px;
            margin-left: 210px;
            padding: 15px 30px;
        }

        .cartoon-character {
            width: 180px;
            height: 180px;
            margin-top: -100px;
            margin-left: -130px;
            margin-bottom: 100px;
        }

        .setting-icon {
            width:55px;
            height: 50px;
            background-color: #858585;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .setting-icon img {
                width: 60%;
                height: 60%;
            }

        .no-groups-image {
            width: 250%;
            height: 250%;
            object-fit: contain;
            position: relative;
            margin-top: -180px;
            margin-left: 20px;
        }


        .boton-crear-plan {
            background-color: #3b82f6;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 12px;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .boton-crear-plan:hover {
                background-color: #2563eb;
                color: white;
            }

        .bottom-buttons {
            position: absolute;
            bottom: 40px;
            right: 40px;
            display: flex;
            align-items: center;
            gap: 1rem;
            z-index: 2;
        }

    </style>
</head>
<body>
    <div class="background">
        <div class="main-content">
            <div class="welcome-text">NO TIENES GRUPOS</div>

            <div class="cartoon-character">
                <img src="/images/noGroupsIcon.png" alt="noGroupsIcon" class="no-groups-image" style="" />
            </div>


        </div>
    </div>

    <div class="bottom-buttons">
        <a href="/plans" class="boton-crear-plan">Ver planes</a>
        <a href="/plans/create" class="boton-crear-plan">Crear plan</a>
        <a href="/groups/create" class="boton-crear-plan">Crear grupo</a>

    </div>
</body>

